.felx-container {
    display: flex;
    flex-direction: row; 
    align-items: top;
}

.screen-video-container {
    position: relative;
    width: 40%;
    margin-bottom: 5%; 
    overflow: hidden;
    flex: 0 0 auto; 
  }

.text{
        font-size: 1rem;
        color: var(--grey-text);
        flex: 1;
        padding-right: 3%;
}

.big-image{
    position: relative;
    flex: 1 1 40%;
    max-width: 640px; 
}

.big-image img {
    width: 100%; 
    height: auto;
    background-color: var(--grey-color);
    margin-bottom: 20px;
}

